
button{
  padding:10px 25px;
  border:none;
  border-radius:8px;
  background:#ff0000;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#580000;
}

.hidden{ display:none; }

#scan{
  margin:15px 0;
  color:#00ff15;
  animation: blink 1s infinite;
}

@keyframes blink{
  50%{opacity:0.4;}
}


.label {
  font-weight:bold;
}

.title {
  color: #ef4444;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%, 100% {opacity:1;}
  50% {opacity:0.4;}
}


@keyframes pulse {
  0%, 100% {opacity: 1;}
  50% {opacity: 0.5;}
}


body {
  background: #0f0f0f;
  color: #ef4444; 
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #100000;
  padding: 30px;
  margin-right: 150px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 90px #ef4444;
}

.value{
width: 800px;
justify-content: right;
color: #ef4444;
animation: pulse 1.5s infinite;
}


.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #100000;
  border: 2px solid #ef4444;
  padding: 20px 30px;
  box-shadow: 0 0 30px red;
  z-index: 9999;
  text-align: center;
}

.alert-box p {
  color: #ef4444;
  font-size: 18px;
  margin-bottom: 15px;
}

.alert-box button {
  background: #ef4444;
  border: none;
  padding: 6px 15px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.hidden {
  display: none;
}
